/* Layout for tile class*/
.tile {
	background-color: #2a2a2a;
	marging-left:4%;
	marging-right:4%;
	overflow: auto;
	color:#00F;
}
.cont{
	margin:8px;
}

.tile_top{
	margin-top: 20px;
	float:left;
	background-color:#C63;
	height:200px;
	width:100%;
}
.tile_bot{
	float:left;
	background-color:#F99;
	height:400px;
	width:100%;
}

.benbox{
	position:fixed;
	margin-top:37px;
	top:0;
	width:200px;
	height:300px;
	overflow:hidden;
	/* Firefox */
	left: -moz-calc(100% - 77px);
	/* WebKit */
	left: -webkit-calc(100% - 77px);
	/* Opera */
	left: -o-calc(100% - 77px);
	/* Standard */
	left: calc(100% - 77px);
	margin-left: -180px;
	background-color:#0F3;	
	opacity:1;
}

#benliste_top{
	overflow:auto;	
	height:270px;
	text-align:center;
}

#benliste_bot{
	border-top: 1px solid #000;
	height:30px;	
	text-align:center;	
}
#deleteall{
	margin-top:2px;
}

#Mausung{
	float:left;
	width:32%;
	height:100%;
}

#steck{
	float:right;
	width:60%;
	height:100%;
}
#main{
	height:100%;
	width:100;
}
#zuchtziel{
	top: 20px;
	left: 760px;
	width: 200px;
	height: 100px;
}
#bottom{
	top: 840px;
	left: 140px;
	width: 600px;
	height: 40px;	
	alignment-adjust:central;
}
.testButton {
	-moz-box-shadow:inset 0px 1px 2px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 2px 0px #ffffff;
	box-shadow:inset 0px 1px 2px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #b8b6b8));
	background:-moz-linear-gradient(top, #ffffff 5%, #b8b6b8 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #b8b6b8 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #b8b6b8 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #b8b6b8 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #b8b6b8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b8b6b8',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding: 6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 3px #ffffff;
	position:relative;
}
.testButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8b6b8), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #b8b6b8 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #b8b6b8 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #b8b6b8 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #b8b6b8 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #b8b6b8 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8b6b8', endColorstr='#ffffff',GradientType=0);
	background-color:#b8b6b8;
}
.testButton:active {
	position:relative;
	top:1px;
}
#bnt1{
	top: 3px;
	left: 3px;
}
#bnt2{
	top:3px;
	left:3px;
}
#bnt3{
	top:3px;
	left:3px;
}
#bnt4{
	top:3px;
	left:3px;
	}
	
#MenuContainer{
	position: fixed;
	/* Firefox */
	width: -moz-calc(100% - 54px);
	/* WebKit */
	width: -webkit-calc(100% - 54px);
	/* Opera */
	width: -o-calc(100% - 54px);
	/* Standard */
	width: calc(100% - 54px);
	height: 30px;
	top:0;
}
	
ul#navigation {
	background: #f8f8f8;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 22px;
	border-bottom: 1px solid #ADADAD;

	font-family: 'Cham-WebFont', Arial, sans-serif;
	-webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
} 
ul#navigation li img{
	margin: auto;
	text-decoration:none;
	color:#FFF;
}
ul#navigation li {
    display: inline;
    list-style: none;
    margin: auto;
    padding: 0;
	margin-right: 15px;
}

ul#navigation li:hover img {
    background: #4ddf31;
}
