
body, html {
    height: 100%;
    margin: 0;
    overflow:hidden;
    font-family: helvetica;
    font-weight: 100;
	overflow: scroll;
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
.container.open-sidebar {
    left: 240px;
}
 
.swipe-area {
    position: absolute;
    width: 50px;
    left: 0;
	top: 0;
    height: 100%;
    background: #f3f3f3;
    z-index: 0;
}
#sidebar {
    background: #606060;
    position: absolute;
    width: 240px;
    height: 100%;
    left: -240px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #86e973;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
    background: #4ddf31;
}
.main-content {
	color:#FFF;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	padding-left: 60px;
	width: 100%;
}
.main-content .content h1{
    font-weight: 100;
}
.main-content .content p{
    width: 100%;
    line-height: 160%;
}
.main-content #sidebar-toggle {
    background: #4ddf31;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
}
.main-content #sidebar-toggle .bar{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;  
}
.main-content #sidebar-toggle .bar:last-child{
     margin-bottom: 0;  
}

.grid{
	width: 1140px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	position: relative;
	border-radius: 10px;
	background-color: #3a3a3a;
}
/* Layout for tile class*/
.tile {
	background-color: #2a2a2a;
	position:absolute;
	width: 270px;
}

#Mausung{
	top: 20px;
	left: 140px;
	width: 250px;
	height: 300px;
}

#steck{
	top: 20px;
	left: 410px;
	width: 330px;
	height: 300px;
}
#main{
	top: 340px;
	left: 140px;
	width: 600px;
	height: 480px;
}
#zuchtziel{
	top: 20px;
	left: 760px;
	width: 200px;
	height: 100px;
}
#benachrichtigungen{
	top: 400px;
	left: 760px;
	width: 220px;
	height:480px;
}
#bottom{
	top: 840px;
	left: 140px;
	width: 600px;
	height: 40px;	
	alignment-adjust:central;
}
.realcontent{
	margin-left:20px;
}




.testButton {
	-moz-box-shadow:inset 0px 1px 2px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 2px 0px #ffffff;
	box-shadow:inset 0px 1px 2px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #b8b6b8));
	background:-moz-linear-gradient(top, #ffffff 5%, #b8b6b8 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #b8b6b8 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #b8b6b8 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #b8b6b8 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #b8b6b8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b8b6b8',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding: 6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 3px #ffffff;
	position:relative;
}
.testButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8b6b8), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #b8b6b8 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #b8b6b8 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #b8b6b8 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #b8b6b8 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #b8b6b8 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8b6b8', endColorstr='#ffffff',GradientType=0);
	background-color:#b8b6b8;
}
.testButton:active {
	position:relative;
	top:1px;
}
#bnt1{
	top: 3px;
	left: 3px;
}
#bnt2{
	top:3px;
	left:3px;
}
#bnt3{
	top:3px;
	left:3px;
}
#bnt4{
	top:3px;
	left:3px;
	}
	
/* Test für untere Navigationsbar */
	
ul#navigation {
	background: #606060;
    height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #86e973;
    border-width: 1px 0;    
    text-align: right;
    font-size: 22px;
    font-family: 'Cham-WebFont', Arial, sans-serif;
    position: fixed;   /* new */
    bottom: 0;  /* new */
    width: 100%;  /* new */
	-webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
} 
ul#navigation li img{
	text-decoration:none;
	color:#FFF;
	padding-left:10px;
	margin-left:10px;
}
ul#navigation li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#navigation li.last {
    margin-right: 0;
}
ul#navigation li:hover img {
    background: #4ddf31;
}
