#test {
    width: 20%;
}
.dropdown-max-width{
    width: 310px;
    max-width: 310px;
    overflow: auto;
    max-height: 500px;
}

.benMessage{
    word-wrap: break-word;
    white-space: pre-line;
}

.pull-right {
 float: right!important;
 white-space: normal;
 clear: both;
}

.bentimestamp{
    display:block;
    text-align:right;
}
.benTitle{
    display:block;
    text-align:left;
    float:left;
}

.notifyjs-corner {
    top: 45px !important;
}
