html {
    overflow-y: scroll;
}

#test {
    width: 20%;
}

.dropdown-max-width{
    width: 310px;
    max-width: 310px;
    overflow: auto;
    max-height: 500px;
}

.benMessage{
    word-wrap: break-word;
    white-space: pre-line;
}

.pull-right {
 float: right!important;
 white-space: normal;
 clear: both;
}

.bentimestamp{
    display:block;
    text-align:right;
}
.benTitle{
    display:block;
    text-align:left;
    float:left;
}

.notifyjs-corner {
    top: 45px !important;
}

.notMessage {
    word-wrap: break-word;
}
.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.carousel-inner img {
    margin: auto;
}
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
table .btn{
    padding: 1px 5px 1px;
    font-size: 12px;
    margin-right: -3px;
}
.jumbotron {background-color:inherit;}
.container-full-bg {width:100%;height:100%;max-width:100%;background-position:center;background-size:cover;}
.container-full-bg .container, .container-full-bg .container .jumbotron {height:100%;width:100%;}

.mycenter{
    margin:0 auto;
    float:none;
    text-align:center
}

#myModal .modal-content {
    width: 350px;
}

#myModal .profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}