.min-height{
    height: 340px;
    overflow-y:auto;
    overflow-x: hidden;
}
.imgFix {
    margin-bottom: 10px;
}
canvas {
    margin-top: 10px;
    width: 100%;
    height: auto;
    border:1px solid #000000;
}
body{
    background:  url("/data/img/play/play_bg_big.jpg") repeat;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.btnHoch{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}
.cagePadding{
    padding: 0px 0px 0px 5px;
}

.nonresponsibile{
    max-width: none !important;
    width: 640px;
}