.min-height{
    height: 340px;
    overflow-y:auto;
    overflow-x: hidden;
}
.imgFix {
    margin-bottom: 10px;
}
canvas {
    margin-top: 10px;
    width: 100%;
    height: auto;
    border:1px solid #000000;
}
body{
    background:  url("/data/img/play/play_bg_big.jpg") repeat;
}